@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - this is my .NET Core Sample Application on AWS Elastic Beanstalk</h1>
</div>
